In [1]:
workspace_id = "4bc212c2-fb47-41dd-bb4c-95c4927ca2e8" # give your workspace id here
a_report_id = "678f6aff-94f7-474d-815e-6e86f4560927" # give your report id here

# importing libs

import requests
from pandas.api.types import is_numeric_dtype
import numpy as np
import sys
from powerbiclient import Report, models
from io import StringIO
from ipywidgets import interact
import requests
import pandas as pd
from tabulate import tabulate

# authentication

from powerbiclient.authentication import InteractiveLoginAuthentication
interactive_auth = InteractiveLoginAuthentication()
token_with_redirect = interactive_auth.get_access_token()

A local browser window will be open for interactive sign in.
You have logged in.
Interactive authentication successfully completed.

In [4]:
# rendering the report

a_report = Report(group_id=workspace_id, report_id=a_report_id, auth=interactive_auth)
a_report

Report()

In [6]:
# functions

def get_page_id(page_name, report_obj):
    for page in report_obj.get_pages():
        if page['displayName'] == str(page_name):
            return(page['name'])
        
def get_visual_id(page_id, visual_name, report_obj):
    for vis in report_obj.visuals_on_page(str(page_id)):
        try:
            if vis['title'] == str(visual_name):
                return(vis['name'])
        except:
            pass
        
def get_visual_info(page_name, visual_name, report_obj):
    page_id = get_page_id(str(page_name),report_obj)
    visual_id = get_visual_id(page_id,str(visual_name),report_obj)
    df = pd.read_csv(StringIO(report_obj.export_visual_data(str(page_id), str(visual_id))), sep=",")
    return(df)

In [7]:
# extract data from visual

a_page_name_1 = 'Team Scorecard'
a_visual_name_1 = 'Scorecard by Executive'
a_cols_1 = ["Executive Name", "# of Customers", "# of Products", "YTD Revenue", "YTD GM%", "YTD COGS", "Sum of Taxes"]


a_df = get_visual_info(a_page_name_1, a_visual_name_1, a_report)
a_df

,Executive Name,# of Customers,# of Products,YTD Revenue,YTD GM%,Sum of Taxes,YTD COGS
0,Andrew Ma,49,5,$56753293,44.9%,$0,$31281630
1,Annelie Zubar,16,4,$45537726,37.8%,$64630,$28307134
2,Carlos Grilo,32,4,$45531663,38.5%,$0,$27999550
3,Tina Lassila,11,3,$17353347,53.8%,$0,$8009014
4,Valery Ushakov,9,2,$12321084,47.2%,$31680,$6499987